@media (max-width: 1380px) {
    .header__icon-container {
      margin-left: 20px;
    }
  
    .header-nav {
      margin-left: 100px;
    }
  }
  
  @media (max-width: 1350px) {
    .btn-demo {
      margin-left: 80px;
    }
  }
  
  @media (max-width: 1270px) {
    .stats__title-col {
      margin-left: 20px;
    }
  
    .ecosystem__text-container {
      margin-left: 15px;
    }
  }
  
  @media (max-width: 1240px) {
    .ecommerce-wrapper {
      margin-left: 20px;
    }
  
    .brands-wrapper {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  
  @media (max-width: 1132px) {
    .ecommerce{
        background: #F6BED9;
    }

    .header-nav {
      margin-left: 80px;
    }
  
    .btn-demo {
      margin-left: 60px;
    }
  
    .log-in {
      margin-left: 20px;
    }
  
    .commerceal__item-container {
      justify-content: space-around;
    }
  
    .ecosystem-btn {
      width: 55%;
      margin-top: 20px;
    }
  }
  
  @media (max-width: 1045px) {
    .possibilities__item-container {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  
  @media (max-width: 975px) {
    .possibilities__first-item {
      // font-size: 17px;
      line-height: 25px;
      // margin-top: 10px;
      text-align: center;
    }
  }
  
  @media (max-width: 970px) {
    .header-nav {
      margin-left: 60px;
    }
  
    .header-item {
      font-size: 12px;
    }
  
    .btn-demo {
      font-size: 12px;
    }
  
    .log-in {
      font-size: 12px;
    }
  
    .brands-container {
      height: auto;
      flex-wrap: wrap;
    }

    .brands-container img{
        margin-left: 20px;
    }

    .brands-container:nth-child(1){
        margin-left: 0;
    }
  
    .industry-wrapper {
      margin-left: 15px;
      margin-right: 20px;
    }
  
    .ecosystem-btn {
      width: 65%;
    }
  
    .carousel-item {
      height: 370px;
    }
  }
  
  @media (max-width: 900px) {
    .btn-demo {
      margin-left: 40px;
    }
  
    .ecosystem__text-container {
      width: 70%;
      text-align: center;
      margin-right: 0;
      margin-top: 60px;
      margin-bottom: 30px;
    }
  
    .ecosystem-text {
      font-size: 20px;
    }
  
    .ecosystem__text-second {
      font-size: 20px;
    }
  
    .ecosystem-wrapper {
      width: 73%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .ecosystem-img {
      margin-top: 30px;
    }
  
    .carousel-item {
      height: 330px;
    }
  }
  
  @media (max-width: 870px) {
    .header-nav {
      margin-left: 40px;
    }
  
    .header__icon-container {
      margin-left: 15px;
    }
  }
  
  @media (max-width: 800px) {
    .header-wrapper {
      justify-content: space-between;
    }
  
    .header-nav {
      display: none;
    }
  
    .btn-demo {
      display: none;
    }
  
    .log-in {
      display: none;
    }
  
    .burger-menu {
      display: flex;
      flex-direction: column;
      width: 58px;
      height: 18px;
      margin-bottom: 10px;
    }
  
    .burger-item {
      border: 2px solid #000000;
      margin: 3px;
      width: 24px;
    }
  
    .commerceal__item-container {
      flex-direction: column;
      align-items: center;
    }
  
    .commerceal-item {
      width: 70%;
      margin-top: 20px;
    }
  
    .commerceal__item-title {
      font-size: 30px;
    }
  
    .commerceal__item-text {
      font-size: 20px;
      line-height: 25px;
    }
  
    .products-subtitle {
      text-align: center;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    .footer-btn {
      width: 17%;
    }
  }
  
  @media (max-width: 779px) {
    .products-subtitle {
      margin-bottom: 40px;
    }
  }
  
  @media (max-width: 768px) {
    .ecommerce-wrapper {
      margin-left: 0;
      align-items: center;
    }
  
    .ecommerce__text-container {
      text-align: center;
    }
  
    .ecommerce-form {
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }

    .carousel-item{
        width: 40%;
        height: 430px;
    }

    .carousel-last{
        display: none;
    }
  }
  
  @media (max-width: 730px) {
    .stats__col-item {
      margin-right: 15px;
      text-align: center;
    }
  
    .stats__btn-container {
      flex-direction: column;
    }
  
    .stats-btn {
      width: 55%;
      margin-bottom: 15px;
    }
  
    .stats-report {
      width: 40%;
    }
  }
  
@media (max-width: 730px){
    .ecommerce__title-container{
        text-align: center;
    }

    .longer{
        margin-bottom: 10px;
    }

    .industry__second-text{
        margin-top: 0;
    }
}

@media (max-width: 693px){
    .possibilities__item-title{
        font-size: 17px;
    }

    .carousel-item{
        height: 400px;
    }
}

@media (max-width: 652px){
    .ecommerce-btn{
        width: 23%;
    }

    .ecommerce-inp {
        &::placeholder {
          padding-left: 6px;
        }
      }

      .ecommerce__text-container{
        width: 55%;
    }

    .brands-container{
        display: grid;
        grid-template-rows: 60px 60px 60px 60px;
        grid-template-columns: 48% 48%;
        justify-items: center;
    }

    .brands-container img{
        margin-left: 0;
    }

    .possibilities__item-container{
        margin-bottom: 120px;
    }

    .industry-item {
      width: 100%;
    }
}

@media (max-width: 640px){
    .stats-wrapper{
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .stats__title-col{
        height: 200px;
        width: 80%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stats__btn-container{
        height: 90px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stats-btn{
        margin-bottom: 25px;
        width: 40%;
    }

    .stats-link{
        width: 30%;
        margin-top: 0;
    }

    .stats-title{
        width: 80%;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
    }

    .stats-pwc{
        margin-top: 0;
    }

    .stats-report{
        width: 22%;
        margin-top: 0;
    }

    .stats__first-col{
        width: 80%;
        border: 0;
        margin-top: 70px;
    }

    .stats__second-col{
        width: 80%;
    }

    .stats__col-item{
        height: 128px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        border-bottom: 2px solid #E0E0E0;
    }
}

@media (max-width: 622px){
    .possibilities__item-title{
        font-size: 15px;
    }

    .possibilities__item-text{
        font-size: 13px;
    }

    .carousel-item{
        height: 350px;
    }
}

@media (max-width: 605px){
    .ecosystem-img{
        margin-top: 80px;
    }

    .footer-inp{
        width: 25%;
    }

    .footer-btn{
        width: 25%;
    }
}

@media (max-width: 585px){
    .products__btn-container{
        width: 60%;
    }
    
    .carousel-item{
       width: 100%;
       height: 500px;
    }

    .carousel-second{
        display: none;
    }

    .ecosystem-img{
        margin-top: 120px;
        width: 100%;
    }

    .industry-first{
        margin-bottom: 10px;
    }

    .industry-text{
        font-size: 13px;
    }

    .industry__second-text{
        font-size: 13px;
    }
}

@media (max-width: 552px){
    .possibilities__item-container{
        width: 90%;
    }

    .possibilities-item{
        width: 48%;
    }

    .possibilities-second{
        margin-top: 0;
    }

    .possibilities__first-item{
      line-height: 45px;
    }

    .industry__item-container {
        grid-template-rows: 220px 220px 220px;
    }
}

@media (max-width: 480px){
    .ecommerce-title{
        font-size: 40px;
        line-height: 35px;
    }

    .ecommerce__text-container{
        width: 70%;
    }

    .ecommerce-form{
        width: 100%;
    }

    .industry__item-title{
        font-size: 16px;
    }

    .industry-text{
       line-height: 18px;
    }

    .products-title{
        font-size: 35px;
    }

    .carousel-title{
        font-size: 35px;
    }

    .stats-btn{
        margin-bottom: 10px;
    }

    .stats-title{
        margin-bottom: 15px;
    }
}

@media (max-width: 467px){
    .ecosystem-img{
        margin-top: 170px;
        width: 100%;
    }

    .ecosystem__text-container{
        height: 400px;
    }

    .ecosystem-btn{
        width: 80%;
    }
}

@media (max-width: 442px){
    .ecommerce-btn{
        width: 27%;
    }

    .ecommerce__text-container{
        width: 55%;
    }
}

@media (max-width: 410px){
    .ecommerce-inp{
        width: 31%;
    }

    .ecommerce-btn{
        width: 31%;
    }

    .products-title{
        font-size: 30px;
    }

    .products__btn-container{
        width: 80%;
    }

    .possibilities__item-title{
        line-height: 25px;
    }

    .stats__title-col{
        height: 270px;
    }

    .stats-link{
        margin-top: 15px;
    }

    .industry-wrapper{
        margin-right: 30px;
    }

    .ecosystem-wrapper{
        width: 90%;
    }

    .ecosystem-img{
        margin-top: 70px;
    }

    .footer-inp{
        width: 35%;
    }

    .footer-btn{
        width: 35%;
    }
}

@media (max-width: 380px){
    .ecommerce__text-container{
        width: 85%;
    }

    .stats-report{
        width: 40%;
    }

    .industry-wrapper{
        margin-right: 0;
    }

    .industry__item-container {
        margin-left: 12px;
        grid-template-columns:90%;
        grid-template-rows: 220px 220px 220px 220px 220px 220px;
      }

    .carousel-item{
        height: 400px;
    }

    .stats-link{
        width: 60%;
    }

    .possibilities__item-container{
        justify-content: center;
    }

    .possibilities-item{
        width: 90%;
        margin-top: 20px;
    }
}

@media (max-width: 360px){
    .ecosystem-img{
        margin-top: 130px;
    }

    .products-title{
        font-size: 28px;
        padding-top: 40px;
    }

    .commerceal-title{
        font-size: 35px;
    }
}

@media (max-width: 340px){

    .ecommerce-inp{
        width: 40%;
    }
    
    .ecommerce-btn{
        width: 40%;
    }

    .products__btn-container{
        width: 90%;
    }

    .stats-btn{
        width: 60%;
    }

    .ecosystem__text-container{
        width: 90%;
    }

    .ecosystem-img{
        margin-top: 110px;
    }

    .footer-title{
        font-size: 33px;
    }
}

@media (max-width: 320px){
    .stats-pwc{
        margin-top: 10px;
    }

    .stats-report{
        width: 55%;
    }

    .ecommerce-title{
        font-size: 35px;
    }

    .products-title{
        font-size: 25px;
    }

    .commerceal__item-title{
        font-size: 20px;
    }

    .commerceal__item-text{
        font-size: 15px;
    }

    .footer-btn{
        width: 40%;
    }

    .footer-inp{
        width: 40%;
    }
}

